/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

.keydown.deck-container {
  p, li {
    font-size: .8em;
  }

  /* Uncomment to turn off deck.js navigation */
  .deck-prev-link,
  .deck-next-link {
    display: none;
  }

  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }

  .slide.huge {
    h1 {
      font-size: 3.5em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 2em;
    }
  }
  /* Background to fit the parent and not repeat */
  .slide.full-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @each $dir in left, right {
    .slide.float.#{$dir} {
      div.content {
        display: block;
      }
      p {
        float: #{$dir};
      }
      ul, li {
        margin-#{$dir}: 2em;
      }
    }
  }
}
